<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /choudhary_zip/

    # Redirect to remove index.php from URLs
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# If mod_rewrite is not available, do nothing.
